<div>
  <!-- navbar -->
  <div class="header-wrapper shadow-sm" ng-include src="'components/header.html'"></div>
  <!-- Banner -->
  <div ng-include src="'components/headerBanner.html'"></div>
  <!-- Category -->
  <div class="home-category-wrapper my-5 py-4">
    <div class="row d-flex justify-content-between mb-4 mx-0">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="custom-text-primary fw-bold d-flex align-items-center">
          <div class="home-category-icon custom-bg-primary me-2">
            <i class="bi bi-basket"></i>
          </div>
          <span>Danh mục sản phẩm</span>
        </div>
        <div class="fs-2 fw-bold py-1">Tìm kiếm bằng danh mục</div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-lg-end justify-content-md-end">
        <button class="custom-slick-arrow home-category-prev">
          <i class="bi bi-arrow-left"></i>
        </button>
        <button class="custom-slick-arrow home-category-next">
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="category-carousel">
      <div ng-repeat="category in categories" class="px-2 py-2">
        <a href="#!product/{{category.name}}" class="home-category-item card text-decoration-none">
          <img src="{{category.thumbnail}}" alt="" class="img-thumbnail category-item-img" />
          <div class="py-1 fw-semibold text-center text-dark">{{category.name}}</div>
        </a>
      </div>
    </div>
  </div>
  <div class="home-line"><hr /></div>
  <!-- Bestseller -->
  <div class="best-seller-wrapper my-5 py-4">
    <div class="row mb-4 mx-0">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="custom-text-secondary fw-bold d-flex align-items-center">
          <div class="best-seller-icon custom-bg-secondary me-2">
            <i class="bi bi-basket"></i>
          </div>
          <span>Tháng này</span>
        </div>
        <div class="fs-2 fw-bold py-1">Sản phẩm bán chạy</div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-lg-end justify-content-md-end">
        <button class="custom-slick-arrow best-seller-prev">
          <i class="bi bi-arrow-left"></i>
        </button>
        <button class="custom-slick-arrow best-seller-next">
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="best-seller-product-carousel">
      <div ng-repeat="product in products | orderBy: 'selled' | limitTo: 6: 0" class="px-2 py-2">
        <div class="best-seller-item card">
          <a href="#!/productdetail/{{product.id}}"
            ><img src="{{product.thumbnail}}" alt="" class="img-thumbnail category-item-img"
          /></a>
          <div class="mx-4 pb-2">
            <div class="fw-semibold fs-6 text-secondary">{{product.name}}</div>
            <div class="fw-semibold fs-4 custom-text-secondary">{{product.price | currency}}</div>
            <button
              ng-click="addProduct(product)"
              class="custom-bg-primary text-white custom-btn hover w-100 py-1 mt-2"
            >
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Products -->
  <div class="most-seller-wrapper my-5 py-4">
    <div class="row justify-content-between mb-4 mx-0">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="custom-text-secondary fw-bold d-flex">
          <div class="most-seller-icon custom-bg-secondary me-2">
            <i class="bi bi-basket"></i>
          </div>
          <span>Sản phẩm của chúng tôi</span>
        </div>
        <div class="fs-2 fw-bold py-1">Hàng mới về</div>
      </div>
      <div
        class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex align-items-end justify-content-lg-end flex-wrap"
      >
        <button
          ng-click="changeCategory(category.id)"
          class="btn {{activeCategory === category.id ? 'btn-primary' : ''}}"
          ng-repeat="category in categories"
        >
          {{category.name}}
        </button>
      </div>
    </div>
    <div class="row mx-0">
      <div
        ng-repeat="product in products | filter:filterProduct | limitTo: limit: begin"
        class="col-lg-3 col-md-6 col-sm-12 px-2 py-2"
      >
        <div class="most-seller-item card">
          <a href="#!productdetail/{{product.id}}"
            ><img src="{{product.thumbnail}}" alt="" class="img-thumbnail category-item-img"
          /></a>
          <div class="mx-4 pb-2">
            <div class="fw-semibold fs-6 text-secondary">{{product.name}}</div>
            <div class="fw-semibold fs-4 custom-text-secondary">{{product.price | currency}}</div>
            <button
              ng-click="addProduct(product)"
              class="custom-bg-primary text-white custom-btn hover w-100 py-1 mt-2"
            >
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-line"><hr /></div>
  <!-- Most seller -->
  <div class="most-seller-wrapper my-5 py-4">
    <div class="d-flex flex-column align-items-center mb-4">
      <div class="custom-text-secondary fw-bold d-flex">
        <div class="most-seller-icon custom-bg-secondary me-2">
          <i class="bi bi-star-fill"></i>
        </div>
        <span>Bán chạy nhất</span>
      </div>
      <div class="fs-2 fw-bold py-1">Bán chạy nhất trong 7 ngày qua</div>
    </div>
    <div class="row mx-0">
      <div
        ng-repeat="product in products | orderBy: 'selled' | limitTo: 9: 0"
        class="col-lg-4 col-md-6 col-sm-12 px-2 py-2"
      >
        <div class="most-seller-item card">
          <div class="row px-2 py-2">
            <div class="col-4">
              <a href="#!/productdetail/{{product.id}}"
                ><img src="{{product.thumbnail}}" alt="" class="img-thumbnail category-item-img"
              /></a>
            </div>
            <div class="col-8 d-flex flex-column justify-content-center">
              <div class="fw-semibold fs-6 text-secondary">{{product.name}}</div>
              <div class="fw-semibold fs-4 custom-text-secondary">{{product.price | currency}}</div>
              <button
                ng-click="addProduct(product)"
                class="custom-bg-primary text-white custom-btn hover py-1 mt-2 w-50 most-seller-add-btn"
              >
                Add to cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-line"><hr /></div>
  <!-- How to buy NFTS -->
  <div class="most-seller-wrapper my-5 py-4">
    <div class="d-flex flex-column align-items-center mb-4">
      <div class="fs-2 fw-bold py-1">Hướng dẫn mua NFTs</div>
    </div>
    <div class="row g-2 mx-0">
      <div class="col-lg-3 col-md-6 col-sm-12" ng-repeat="guide in guides">
        <div class="card h-100 px-5 py-5 d-flex align-items-center justify-content-center flex-column">
          <img src="{{guide.thumbnail}}" alt="" class="img-thumbnail home-guide-img" />
          <div class="mt-4 mb-2 fw-bold fs-5">{{guide.title}}</div>
          <div class="text-center">{{guide.description}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-line"><hr /></div>
  <!-- Blog -->
  <div class="most-seller-wrapper my-5 py-4">
    <div class="d-flex flex-column align-items-center mb-4">
      <div class="custom-text-secondary fw-bold d-flex">
        <div class="most-seller-icon custom-bg-secondary me-2">
          <i class="bi bi-newspaper"></i>
        </div>
        <span>Bài đăng thường xuyên</span>
      </div>
      <div class="fs-2 fw-bold py-1">Bài viết mới nhất</div>
    </div>
    <div class="row g-2">
      <div ng-repeat="blog in blogs" class="col-lg-4 col-md-6 col-sm-12">
        <div class="card d-flex flex-column h-100">
          <img src="{{blog.thumbnail}}" class="img-thumbnail border-0" alt="" />
          <div class="d-flex flex-grow-1 px-2 pb-2 flex-column justify-content-between">
            <p class="home-blog-title fw-semibold">{{blog.title}}</p>
            <a href="" class="header-banner-btn fw-bold">
              <span class="me-2">Khám phá</span>
              <i class="bi bi-arrow-right fw-bolder"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div ng-include src="'components/footer.html'"></div>
</div>
<!-- category carousel -->
<script>
  var homeCategorySettings = {
    arrows: true,
    centerMode: false,
    slidesToShow: 6,
    slidesToScroll: 6,
    infinity: true,
    responsive: [
      {
        breakpoint: 1080,
        settings: {
          arrows: false,
          slidesToShow: 4,
          slidesToScroll: 4,
        },
      },
      {
        breakpoint: 576,
        settings: {
          arrows: false,
          slidesToShow: 2,
          slidesToScroll: 2,
        },
      },
    ],
  };
  //
  var homeProductSettings = {
    arrows: true,
    centerMode: false,
    slidesToShow: 4,
    slidesToScroll: 4,
    infinity: true,
    responsive: [
      {
        breakpoint: 1080,
        settings: {
          arrows: false,
          slidesToShow: 4,
          slidesToScroll: 4,
        },
      },
      {
        breakpoint: 576,
        settings: {
          arrows: false,
          slidesToShow: 1,
          slidesToScroll: 1,
        },
      },
    ],
  };
  $(document).ready(function () {
    $('.category-carousel').slick({
      ...homeCategorySettings,
      prevArrow: $('.home-category-prev'),
      nextArrow: $('.home-category-next'),
    });

    $('.best-seller-product-carousel').slick({
      ...homeProductSettings,
      prevArrow: $('.best-seller-prev'),
      nextArrow: $('.best-seller-next'),
    });
  });
</script>
