<div class="w-100 form-layout">
  <div class="row w-100 h-100 g-0">
    <div class="col-sm-12 col-md-6 d-none d-md-block"></div>
    <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-center">
      <form class="bg-white rounded-2 form-wrapper">
        <a href="#/!" class="px-5 d-flex align-items-center justify-content-center">
          <img src="../assets/images/logo-2.png" class="form-logo" alt="" />
        </a>
        <div class="mb-3">
          <label for="signInEmail" class="form-label">Email</label>
          <input type="email" class="form-control" id="signInEmail" aria-describedby="emailHelp" />
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="signInPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="signInPassword" />
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="signInCheckBox" />
          <label class="form-check-label" for="signInCheckBox">Remember password?</label>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
        <div class="d-flex align-items-center justify-content-center">
          <a class="text-decoration-none" href="#!signup">SignUp now?</a>
        </div>
      </form>
    </div>
  </div>
</div>
