<div class="w-100 form-layout">
  <div class="row w-100 h-100 g-0">
    <div class="col-sm-12 col-md-6 d-none d-md-block"></div>
    <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-center">
      <form name="signinForm" ng-submit="login(signinForm)" class="bg-white rounded-2 form-wrapper">
        <a href="#/!" class="px-5 d-flex align-items-center justify-content-center">
          <img src="assets/images/logo-2.png" class="form-logo" alt="" />
        </a>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            ng-model="email"
            ng-change="handleChange()"
            name="email"
            class="form-control"
            id="email"
            type="email"
            required
          />
          <div id="emailHelp" ng-show="errorMessage.email && signinForm.email.$valid" class="form-text text-danger">
            {{errorMessage.email}}
          </div>
        </div>
        <div class="mb-3">
          <label for="signInPassword" class="form-label">Password</label>
          <input
            ng-model="password"
            ng-change="handleChange()"
            name="password"
            type="password"
            class="form-control"
            id="password"
            required
          />
        </div>
        <div id="passwordHelp" ng-show="errorMessage.password" class="form-text text-danger">
          {{errorMessage.password}}
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="signInCheckBox" />
          <label class="form-check-label" for="signInCheckBox">Remember password?</label>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
        <div class="form-line position-relative text-secondary my-2 mb-4">
          <span class="position-absolute options-signin">OR</span>
        </div>
        <div class="bg-fb d-flex justify-content-center align-items-center py-1 rounded-1 mt-2 form-social-btn">
          <img src="assets/images/facebook.webp" class="form-social-icon me-2" alt="" />
          <span class="text-white">Login with Facebook</span>
        </div>
        <div class="d-flex border justify-content-center align-items-center py-1 rounded-1 mt-2 form-social-btn">
          <img src="assets/images/google.png" class="form-social-icon me-2" alt="" />
          <span class="text-secondary">Login with Google</span>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-4">
          <a class="text-decoration-none" href="#!signup">SignUp now?</a>
        </div>
      </form>
    </div>
  </div>
  <div class="footer-mobile">
    <a href="#/!" class="footer-mobile-item" ng-class="activeRoute === '/'? 'active':''">
      <i class="bi bi-house"></i>
      <span>Trang chủ</span>
    </a>
    <a href="#!product/All" class="footer-mobile-item" ng-class="activeRoute === '/product'? 'active':''">
      <i class="bi bi-bag"></i>
      <span>Mua sắm</span>
    </a>

    <a href="#!blog" class="footer-mobile-item" ng-class="activeRoute === '/me'? 'active':''">
      <i class="bi bi-newspaper fs-5"></i>
      <span>Blogs</span>
    </a>
    <a
      href="#!cart"
      class="footer-mobile-item text-decoration-none position-relative"
      ng-class="activeRoute === '/cart'? 'active':''"
    >
      <span class="position-absolute custom-bg-primary text-white footer-cart-total badge"
        >{{totalProduct > 0 ? totalProduct : ''}}</span
      >
      <i class="bi bi-cart2 fs-5"></i>
      <span>Giỏ hàng</span>
    </a>
    <a href="#!signin" class="footer-mobile-item" ng-class="activeRoute === '/me'? 'active':''">
      <i class="bi bi-person fs-5"></i>
      <span>Tài khoản</span>
    </a>
  </div>
</div>
