.blog-page-wrapper {
  padding: 20px 2px;
}
.blog-item-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog-item-line {
  height: 18px;
  margin: 0 20px;
  width: 2px;
}

@media (min-width: 992px) {
  .blog-page-wrapper {
    padding: var(--padding);
  }
}
