.cart-wrapper {
  min-height: calc(100vh - var(--header-height));
  padding: 0 4px;
  max-width: 100%;
}
.card-img {
  max-width: 80px;
  max-height: 80px;
}
.cart-group-input {
  max-width: 120px;
}
.cart-pro-quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-form {
  width: 50%;
}
.cart-btn {
  border: none;
  outline: none;
  background-color: white;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  cursor: pointer;
  padding: 8px 30px;
  border-radius: 20px;
  transition: all 0.2s ease;
  font-size: 1rem;
}
.cart-btn:hover {
  background-color: var(--secondary);
  color: white;
}
@media (max-width: 991px) {
  .cart-form {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .cart-wrapper {
    padding: var(--padding);
  }
}
