.cart-wrapper {
  min-height: calc(100vh - var(--header-height));
  padding: 0 4px;
  max-width: 100%;
}
.card-img {
  max-width: 80px;
  max-height: 80px;
}
.cart-group-input {
  max-width: 120px;
}
.cart-pro-quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (max-width: 991px) {
  .cart-form {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .cart-wrapper {
    padding: var(--padding);
  }
}
