.detail-img {
  height: 500px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 991px) {
  .detail-img {
    height: auto;
  }
}
